# 기본 도구
python-dotenv
pandas
numpy

# AI 관련 (Gemini, Groq, OpenAI 모두 지원)
google-generativeai
groq
openai

# 벡터 DB & 랭체인
chromadb
langchain
langchain-community
langchain-openai

# 웹/앱
streamlit
selenium
webdriver-manager
beautifulsoup4